//////////////////////////////////////////////////////////// H E A D E R HEADER HEADER
header{
	display: flex;
}

.logo{
	display: flex;
	align-items: center;
	width: 68.6%;
	background-color: $primaryColorLight;
	img{
		width: 50px;
		margin: 10px 20px;
	}
	h3{
		color: #A47A6C;
	}
}

.mainNav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 31.3%;
	background-color: $highlightColor;
}

nav{
	display: flex;
	justify-content: center;
	align-items:center;
	padding: 10px;
}

nav .fa{
	color: $primaryColorLight;
	text-decoration: none;
	margin: 5px 10px;
	font-size: 20px;
	&:hover{
		color: $lightColor;
	}
}

//auth stuff
.loginOptions{
	text-align: right;
	input{
		margin: 2px 0;
	}
	button{
		margin: 3px 10px;
		outline:none;
	}
}

.buttonDisplayNone{
	display:none;
}



.displayBlock{
	display: block;
}

.loginForms{
	text-align:left;
	padding: 10px 20px;
	position: absolute;
	z-index: 3;
	left:50%;
	top:50%;
	border: 1px solid $darkColor;
	transform: translate(-50%, -50%);
	background-color: $primaryColorLight;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	h3{
		margin-bottom: 5px;
	}
	button{
		margin: 10px 0;
	}
	label{
		display: block;
	}
}

.loginCloseDiv{
	text-align: right;
	margin:0;
}

.loginClose{
	padding: 1px 6px;
}
