//////////////////////////////////////////////////////////// M Y  I N F O   MY INFO MY INFO

.myInfo{
	text-align:center;
	order: 0;
	width: 31.3%;
	background-color: $primaryColorDark;
	h1{
		background-color: $lightColor;
	}
	span{
		font-weight: bold;
		padding-right: 3px;
	}
}

.myInfoForm div{
	input[type="radio"] {
		display:none;
	}

	input[type="radio"] + label {
		background: none;
		border: 1px solid black;
	}

	input[type="radio"]:checked + label {
		background-color: $primaryColorLight;
		color: $darkColor;
	}

	label{
		display: inline-block;
		padding:5px;
		margin: 5px;
	}
	input{
		margin: 5px 7px 5px 2px;
	}
	input[type="text"]{
		border: 1px solid $darkColor;
	}
}

.numberInput{
	width: 40px;
	outline-color: $highlightColor;
	padding: 5px;
	border: none;
}

.positive{
	color: #269328;
}

.negative{
	color: red;
}

.myInfoTop{
	padding-top: 20px;
}

.nutrientsToAdd{
	background-color: $lightColor;
	display: block;
	margin: 0 auto;
	width: 98%;
	padding: 8px 15px;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);

}

input[type="text"].numberInput, textarea {
	background-color : $lightColor;
}



#buttonOn {
	background-color: $lightColor;
	color: $darkColor;
	cursor: default;
}