//////////////////////////////////////////////////////////// S E A R C H SEARCH SEARCH

.searchFormDiv{
	width: 62.6%;
	background-color: $lightColor;
	h1{
		background-color: $primaryColorDark;
	}
}

.search{
	margin-top: 25px;
}


// input
.searchForm{
	text-align: center;
	input[type="radio"] {
		display:none;
	}

	input[type="radio"] ~ label {
		img{
		-webkit-filter: brightness(-100);
		filter: brightness(-100);
		}
		img:hover{
			cursor:pointer;
			-webkit-filter: none;
			filter: none;
		}
	}

	input[type="radio"]:checked ~ label {
		img{
		-webkit-filter: none;
		filter: none;
		}
	}

	label{
		display: inline-block;
		text-align:center;
		img{
			width: 90%;
		}
	}
	input[type="text"]{
		padding: 5px;
		margin-right: 5px;
		width: 50%;
		outline-color: $primaryColorDark;
		border: 1px solid $darkColor;
			&::-webkit-input-placeholder{
				color: $darkColor;
			}
			&:-moz-placeholder {
				color: $darkColor;
			}
			&::-moz-placeholder {
				color: $darkColor;
			}
			&:-ms-input-placeholder { 
				color: $darkColor;
			}
	}
	input[type="text"], textarea{
		background-color: $primaryColorLight;
	}
}

.brandInputs{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}

.foodsBrand {
	display:inline;
	width: 16%;
}